DJANGO_PORT=8000
DOCKER_EXPOSE_PORT=8000
# Postgres
POSTGRES_DB=merchant_api
POSTGRES_USER=merchant_api
POSTGRES_PASSWORD=merchant_api
POSTGRES_HOST=db
POSTGRES_PORT=5432
# RabbitMQ
RABBITMQ_DEFAULT_USER=merchant_api
RABBITMQ_DEFAULT_PASS=merchant_api
RABBITMQ_DEFAULT_VHOST=merchant_api
# Github branch
GITHUB_BUILD_BRANCH=master